@import 'variables.css';

/* General */
* {
    box-sizing: border-box;
    overflow-x: hidden;
}
body {
    margin: 0;
    Font-family: 'Segoe UI';
    margin: auto;
}
a {
    text-decoration: none;
    color: black;
}
section {
    padding: 50px 0;
}
body::-webkit-scrollbar {
    width: 1.5vw;
    background-color: #F5F5F5;
}
body::-webkit-scrollbar-thumb {
    background-image: url("/images/general/scrollbar.jpg");
    background-size: 300%;
    background-position: center;
}
body::-webkit-scrollbar-thumb:active {
    background-position: left;
}
@keyframes change_color {
    to {color: var(--main-color);}
}
@keyframes change_bgcolor {
    to {background-color: #A5050A; color: white;}
}
@keyframes button-bgcolor {
    to {background-color: var(--main-color); color: white;}
}
@keyframes dish-hover {
    to {filter: brightness(0.6);}
}


/* General */
.heading {
    position: relative;
    font-size: 35px;
    overflow: visible;
}
.heading::before {
    content: '----- Welcome to';
    color: var(--main-color);
    font-size: 20px;
    position: absolute;
    bottom: 100%;
}

/* Navigation Bar */
header {
    height: 80px;
}
#header-container {
    position: fixed;
    width: 100%;
    height: 80px;
    z-index: 1;
    box-shadow: 0 0px 3px gray;
    background-color: white;
    opacity: 0.9;
    font-weight: bold;
}
#header-container div {
    height: 100%;
}
#navbar #logo {
    overflow-y: hidden;
}
#logo img {
    height: 100%;
    padding: 5% 0;
}
#navbar a {
    line-height: 80px;
}
#navbar a:hover {
    animation: change_color 0.25s forwards;
}

/* Footer */
footer h3 {
    color: var(--main-color);
}
#footer-container {
    padding: 50px 0;
}
#footer-description img {
    width: 20%;
}
#footer-menu a {
    display: inline-block;
    width: 40%;
    margin: 5px 0;
}
#footer-menu a:hover {
    animation: change_color 0.25s forwards;
}
#footer-contact a {
    display: block;
    margin: 10px 0;
}
#footer-contact a:hover {
    animation: change_color 0.25s forwards;
}
#footer-contact a svg {
    color: var(--main-color);
}
#footer-subscribe {
    overflow: visible;
}
#footer-subscribe div {
    overflow: visible;
}
#footer-subscribe div a {
    color: gray;
    display: inline-block;
    margin-right: 20px;
    transform: scale(1.5);
    overflow: visible;
}
#footer-subscribe div .tooltip {
    visibility: hidden;
    overflow: visible;
    position: absolute;
    left: 50%;
    bottom: 150%;
    transform: translateX(-50%);
    background-color: black;
    color: white;
    line-height: 10px;
    width: 100px;
    font-size: 10px;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
}
#footer-subscribe div .tooltip::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}
#footer-subscribe div a:hover {
    color: var(--main-color);
}
#footer-subscribe div a:hover .tooltip {
    visibility: visible;
}