<header>
    <div id="navbar">
        {{!-- Logo --}}
        <div id="logo">
            <a href="\ "><img src="/images/general/logo.png" alt="logo"></a>
        </div>
        {{!-- Site navigation --}}
        <div id="nav">
            <a href="/ " class="home">HOME</a>
            <a href="/about" class="about">ABOUT</a>
            <a href="/menu" class="menu">MENU</a>
            <a href="/contact" class="contact">CONTACT</a>
        </div>
        {{!-- Account --}}
        <div id="account">
            <a id="signupNav" href="/auth/signup">SIGN UP</a>
            <a id="loginNav" href="/auth/login">LOG IN</a>
            {{!-- <a id="userNav" href="/user/{{username}}">HI, {{username}}</a> --}}
        </div>
    </div>
</header>