<!-- Wall -->
<div id="about-wallpaper">
    <div id="wallpaper-image"></div>
    <h1>ABOUT</h1>
</div>

<!-- About -->
<section id="about" class="grid wide">
    <h2 class="heading">ONE SALTY TUNA</h2>
    <div class="row">
        <p class="col l-6 m-9 s-12"> One salty tuna is a sushi restaurant lorem ipsum dolor sit amet, consectetur adipiscing elit, 
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
            Ut enim ad minim veniam, 
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
            Duis aute irure dolor in reprehenderit in voluptate velit esse cintrom dolore eu fugiat nulla pariatur. 
            Excepteur sint occaecat cupidatat non proident, 
            sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
</section>

<!-- Intro -->
<div id="about-count">
    <img src="images/general/wallpaper-2.jpg" alt="">
    <div class="gird wide">
        <div class="row no-gutters">
            <div class="col l-4 m-4 s-12">
                <div>
                    <p><span>333</span><br>Staff</p>
                </div>
            </div>
            <div class="col l-4 m-4 s-12">
                <div>
                    <p><span>666</span><br>Dishes</p>
                </div>
            </div>
            <div class="col l-4 m-4 s-12">
                <div>
                    <p><span>999</span><br>Customer</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Special -->
<section id="about-special" class="grid wide">
    <h2 class="heading">SPECIAL</h2>
    <div class="row">
        <p class="col l-4 m-4 s-12"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
            <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
        </svg> Various menu</p>
        <p class="col l-4 m-4 s-12"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
            <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
            </svg> Creative dishes</p>
        <p class="col l-4 m-4 s-12"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
            <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
            </svg> High quality ingredients</p>
        <p class="col l-4 m-4 s-12"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
            <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
            </svg> Comfortable space</p>
        <p class="col l-4 m-4 s-12"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
            <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
            </svg> Dinner Buffet</p>
        <p class="col l-4 m-4 s-12"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
            <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
            </svg> Large parking lot</p>
    </div>
    <div class="row no-gutters">
        <img src="images/menu/menu_makimono-kappa.jpg" alt="" class="col l-0 m-0 s-6">
        <img src="images/menu/menu_makimono-tempura.jpg" alt="" class="col l-4 m-4 s-6">
        <img src="images/menu/menu_sashimi-toro.jpg" alt="" class="col l-4 m-4 s-6">
        <img src="images/menu/menu_makimono-rainbow.jpg" alt="" class="col l-4 m-4 s-6">
    </div>
</section>